= simple_form_for(@playlist) do |f|
  = f.error_notification
  .form-inputs
    = f.input :name
  %h3 Tracks
  = f.simple_fields_for :tracks do |t|
    = render 'track_fields', f: t
  .links
    = link_to_add_association 'add track', f, :tracks
  .form-actions
    = f.button :submit
